---
layout: page
---
{% if page.image != null %}
<img src="{{ page.image }}" align="middle" style="width:600px;height:400px;">
{% endif %}

{{ content }}

{% if page.video %}
<section class="video">
  <p>Video available at <a href="{{ page.video }}">{{ page.video }}</a>.</p>
</section>
{% endif %}
{% if page.youtube %}
<section class="youtube">
  <iframe src="https://www.youtube.com/embed/{{ page.youtube }}" style="width:600px;height:400px;" align="middle" frameborder="0" allowfullscreen></iframe>
</section>
{% endif %}
{% if page.vimeo %}
<section class="vimeo">
  <iframe src="https://player.vimeo.com/video/{{ site.vimeo }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>
{% endif %}
{% if page.speakerdeck %}
<section class="speakerdeck">
<script async class="speakerdeck-embed" data-id="{{ page.speakerdeck }}" data-ratio="1.77777777777778" src="https://speakerdeck.com/assets/embed.js"></script>
</section>
{% endif %}

{% if page.github %}
<br/>
	<h2>Srource Code: </h2>
<br/>
<div style="background-color: white;">
	<a href="{{ page.github }}" target="_blank">
	<img src="https://kevalpatel2106.github.io/img/blog/github.png" align="middle" style="width:1024px;height:320px;">
</a>
</div>
{% endif %}
